@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 //about breadcrumb -->
<!-- /about-6-->
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="ab-section text-center">
            <h6 class="sub-title">Hakkımızda</h6>
            <h3 class="hny-title">Seyahat Etmek Sizin İçin Yaşam Biçimi Mi?</h3>
            <p class="py-3 mb-3">
                O zaman rezervasyonunuzu yaptırın ve eğlenceli bir seyahate adım atın.
            </p>
            
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <img src="/Traversal-Liberty/assets/images/banner3.jpg" class="img-fluid" style="width:1700px; height:480px" alt="">
            </div>
        </div>
    </div>
</section>
<!-- //about-6-->
<!-- /content-6-->
<section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-lg-6 content-6-left pr-lg-5">
                <h6 class="sub-title">Neden Bizi Seçmelisiniz</h6>
                <h3 class="hny-title">Deneyimli Rehberlerimiz</h3>
            </div>
            <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                <p class="mb-3">
                    Rehberlerimiz gezilecek lokasyon ile ilgili her türlü tarihi ve kültürel bilgiye sahiptirler ve en az 5 yıl o lokasyonda deneyimlidirler.
                </p>
                <p class="mb-3">
                   Tatilinizin Başlamasına 15 Gün Kalana Kadar Kesintisiz Para İade Garantisi Sunuyoruz
                </p>
                
                <a href="/Destination/Index" class="btn btn-style btn-primary mt-4">Lokasyonlar</a>
            </div>
        </div>
    </div>
</section>
<!-- //content-6-->
<section class="w3l-grids1">
    <div class="hny-three-grids py-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-md-4 col-sm-6 mt-0 grids5-info">
                    <a href="/Destination/Detail/1"><img src="/Traversal-Liberty/assets/images/g1.jpg" class="img-fluid" alt=""></a>
                    <h5>Paris</h5>
                    <h4><a href="/Destination/Detail/1">Paris</a></h4>
                    <p>Paris Lokasyonuna Rezervasyon Yapmak İçin Resime Tıklayınız</p>
                </div>
                <div class="col-md-4 col-sm-6 mt-sm-0 mt-5 grids5-info">
                    <a href="/Destination/Detail/3"><img src="/Traversal-Liberty/assets/images/g2.jpg" class="img-fluid" alt=""></a>
                    <h5>Bankook</h5>
                    <h4>
                        <a href="/Destination/Detail/3">
                            Bankook
                        </a>
                    </h4>
                    <p>Bankook Lokasyonuna Rezervasyon Yapmak İçin Resime Tıklayın</p>
                </div>
                <div class="col-md-4 col-sm-6 mt-md-0 mt-5 grids5-info">
                    <a href="/Destination/Detail/4"><img src="/Traversal-Liberty/assets/images/g3.jpg" class="img-fluid" alt=""></a>
                    <h5>Maldivler</h5>
                    <h4><a href="/Destination/Detail/4">Maldivler</a></h4>
                    <p>Maldivler Lokasyonuna Rezervasyon Yapmak İçin Resime Tıklayın</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- stats -->
