@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card-header">
            <h5>Çoklu Dil Desteği</h5>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <p class="card-text">@localizer["Merhaba"]</p>
            </div>
        </div>
    </div>
</div>