
<!doctype html>
<html lang="zxx">

<partial name="_HeadPartial"></partial>

<body>
    <partial name="_NavbarPartial"></partial>
    @RenderBody()
    <partial name="_FooterPartial"></partial>
    <partial name="_ScriptPartial"></partial>
    
    
</body>

</html>